#product-categories-page ul {
  margin-top: 20px;
  padding-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
}

#product-categories-page ul li {
  max-width: 200px;
  height: 150px;
}

#product-categories-page ul li a {
  text-decoration: none;
  color: black;
}

#product-categories-page ul li:hover {
  font-weight: bold;
  background-color: rgb(142, 204, 233);
  color: rgb(255, 255, 255);
  box-shadow: 0.5px 0.5px 1px 1px rgb(182, 75, 75);
  transform: translateY(-10px);
  transition: 1s;
}
