#category-description {
  margin: 20px 50px 20px 50px;
  display: flex;
  flex-wrap: wrap;
}

#category-description h3 {
  margin-left: 200px;
}

#category-description p {
  margin-left: 200px;
}

#categories-products {
  display: flex;
  overflow-x: hidden;
  background-color: rgb(236, 228, 195);
}

#categories-products a {
  text-decoration: none;
  color: black;
}

.categories-product {
  padding: 20px;
  width: 400px;
  background-color: cornsilk;
}

.categories-product:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}
