.App {
  text-align: center;
}

div#navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(15, 120, 190);
}

div#navigation .nav-link {
  padding: 20px;
  font-size: 20px;
  color: antiquewhite;
  text-decoration: none;
  font-weight: bold;
}

#home {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 200px 200px 200px 200px 200px 200px;
}

.add-1 {
  grid-column-start: 1;
  grid-column-end: 2;

  margin: 10px 0px 0px 10px;
}

.add-2 {
  right: 0;
  grid-column-start: 3;
  margin: 10px 10px 0px 0px;
}

.add-1,
.add-2 {
  color: aliceblue;
  background-color: rgb(90, 41, 136);
  grid-row-start: 1;
  grid-row-end: 6;
  width: 150px;
  position: absolute;
}

#home-product-categories {
  width: 1200px;
  margin: auto;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#home-product-categories ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: scroll;
  list-style-type: none;
}

#home-product-categories ul li {
  width: 200px;
  padding: 10px;
  margin: 10px;
}

#home-product-categories ul li:hover {
  background-color: rgb(168, 220, 255);
  transform: translateY(-10px);
  transition: 0.5s;
}

#home-products {
  width: 1200px;
  height: 250px;
  margin: auto;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

#home-products ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  overflow-y: hidden;
  overflow-x: scroll;
  list-style-type: none;
}

#home-products ul li {
  padding: 10px;
}

#home-products ul li:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

#search-box #input-box {
  border-color: rgb(79, 9, 243);
  margin-right: 5px;
}

#slideshow {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  top: 20px;
  width: 1200px;
  height: 20em;
  position: relative;
  overflow: hidden;
  margin: auto;
}

#slideshow > * {
  position: absolute;
  animation: 12s autoplay1 infinite ease-in-out;
}

#slideshow > * > img {
  width: 600px;
}

@keyframes autoplay1 {
  0% {
    top: 100%;
  }
  4% {
    top: 0%;
  }
  33.33% {
    top: 0%;
  }
  37.33% {
    top: -100%;
  }
  100% {
    top: -100%;
  }
}

#slideshow > *:nth-child(1) {
  animation-delay: 0s;
}
#slideshow > *:nth-child(2) {
  animation-delay: 4s;
}
#slideshow > *:nth-child(3) {
  animation-delay: 8s;
}
.footer {
  bottom: 0;
  left: 0;
  width: 100%;

  color: #d0daee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.829);
}

.footer-item {
  padding: 10px 20px 10px 20px;
  margin: auto;
}
