.App {
  text-align: center;
  background: #f7f7f7;
}

div#navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(15, 120, 190);
}

div#navigation .nav-link {
  padding: 20px;
  font-size: 20px;
  color: antiquewhite;
  text-decoration: none;
  font-weight: bold;
}

#home {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 200px 200px 200px 200px 200px 200px;
  position: relative;
}

.grid-item1 {
  position: absolute;
  grid-column: 1/2;
  grid-row: 1/5;
  margin: 10px 0px 0px 10px;
  background-color: rgb(245, 242, 238);
  box-shadow: 1px 1px 3px black;
}

.grid-item2 {
  min-width: 100px;
  grid-column: 2/3;
  grid-row: 1/3;
}

.grid-item3 {
  grid-column: 3/4;
  grid-row: 1/5;
  right: 0;
  position: absolute;
  margin: 10px 10px 0px 0px;
  background-color: rgb(245, 242, 238);
  box-shadow: 1px 1px 3px black;
}
.grid-item4 {
  grid-column: 2/3;
  grid-row: 3/5;
  background: #ffffff;
}

.grid-item5 {
  grid-column: 2/3;
  grid-row: 5/7;
  background: #ffffff;
}

#home-product-categories {
  padding-top: 20px;
  margin: auto;
}

#home-product-categories ul {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: scroll;
  list-style-type: none;
}

#home-product-categories ul li {
  padding: 20px;
}
#home-product-categories ul li:hover {
  background-color: rgb(168, 220, 255);
  transform: translateY(-10px);
  transition: 0.5s;
}

#home-products {
  padding-top: 20px;
  margin: auto;
}

#home-products ul {
  padding-top: 10px;
  display: flex;
  flex-direction: row;

  overflow-y: hidden;
  overflow-x: scroll;
  list-style-type: none;
}

#home-products ul li {
  padding: 20px;
}

#home-products ul li:hover {
  background-color: cornsilk;
  transform: translateY(-10px);
  transition: 0.5s;
}

#search-box #input-box {
  border-color: rgb(79, 9, 243);
  margin-right: 5px;
}

#slideshow {
  margin: 1rem;
  height: 20em;
  position: relative;
  overflow: hidden;
}

#slideshow > * {
  margin: auto;
  position: absolute;
  animation: 15s autoplay1 infinite ease-in-out;
}

@keyframes autoplay1 {
  0% {
    top: 200%;
  }
  4% {
    top: 0%;
  }
  33.33% {
    top: 0%;
  }
  37.33% {
    top: -200%;
  }
  100% {
    top: -200%;
  }
}

#slideshow > *:nth-child(1) {
  animation-delay: 0s;
}
#slideshow > *:nth-child(2) {
  animation-delay: 5s;
}
#slideshow > *:nth-child(3) {
  animation-delay: 10s;
}

.slideshow-item img {
  width: 50%;
  margin: auto;
}

.slideshow-item {
  width: 100%;
  background: #ffffff;
  padding: 1rem 0rem 1rem 0rem;
}

.footer {
  width: 100%;
  color: #d0daee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.829);
}

.footer-item {
  padding: 10px 20px 10px 20px;
  margin: auto;
}

#home-product-categories ul a,
#home-products ul a {
  text-decoration: none;
  color: black;
}
